<!DOCTYPE html>
<html>
  <head>
    <title>a new era</title>
    <!-- path -->
    <meta name="path" content="{{from}}" />
    <!-- host -->
    <base href="{{base}}" />
    <!-- mobile eh -->
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- favicon -->
    <link
      rel="shortcut icon"
      href="https://cdn.glitch.com/d5f13d72-02d8-4651-8842-b8a3ef203339%2Ficonmonstr-star-4-240.png?v=1591350116081"
    />
    <!-- bs utilities -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-utilities@4.1.3/bootstrap-utilities.min.css"
    />
    <!-- github's primer.css-->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/Primer/14.4.0/primer.min.css"
    />
    <link rel="stylesheet" href="custom.css" />
    <style>
      body *:not(div):not(view) {
        transition: opacity 499ms ease;
        opacity: 1;
      }
      body.loading *:not(div):not(view) {
        opacity: 0;
      }
    </style>
    <script>
      {
        //force host clientside
        `${location.protocol}//${location.host}` !==
          document.querySelector("base").getAttribute("href") && //lol dont do this before the <base>
          location.replace(document.querySelector("base").getAttribute("href"));
        //upgrade request clientside
        if (location.protocol === "http:")
          location.replace(location.href.replace("http://", "https://"));
      }
    </script>
  </head>
  <body class="loading">
    <div id="header">
      
      <header

        class="container-lg mx-auto p-responsive d-flex flex-items-center flex-wrap flex-md-nowrap py-3"
      >
        <h3 id="logo" class="mr-4 pb-1">
          <a href="/" class="text-white">deno-page</a>
        </h3>
        <a class="mr-3" href="/click">Click me</a>
        <a class="mr-3" href="/sub/dir">sub dir</a>
      </header>
    </div>
    <noscript>Pweaze enable js</noscript>

    <views>
      <view
        path="/"
        class="container-lg mx-auto py-6 p-responsive my-auto"
        data-bind="view"
      >
        <div class="box markdown-body">
          <h1>Hello World!</h1>
        </div>
      </view>
      <view
        path="/click"
        class="container-lg mx-auto py-6 p-responsive my-auto"
        data-bind="view"
      >
        <div class="Box">
          <div class="Box-header">
            <h3 class="Box-title">
              you clicked me!
            </h3>
          </div>
          <div class="Box-body">
            <div class="box container-lg clearfix">
              <div class="col-sm-6 col-md-3 col-lg-2 float-left p-2 border">
                .col-sm-6 .col-md-3 .col-lg-2
              </div>
              <div class="col-sm-6 col-md-3 col-lg-2 float-left p-2 border">
                .col-sm-6 .col-md-3 .col-lg-2
              </div>
              <div class="col-sm-6 col-md-3 col-lg-2 float-left p-2 border">
                .col-sm-6 .col-md-3 .col-lg-2
              </div>
              <div class="col-sm-6 col-md-3 col-lg-2 float-left p-2 border">
                .col-sm-6 .col-md-3 .col-lg-2
              </div>
              <div class="col-sm-6 col-md-3 col-lg-2 float-left p-2 border">
                .col-sm-6 .col-md-3 .col-lg-2
              </div>
              <div class="col-sm-6 col-md-3 col-lg-2 float-left p-2 border">
                .col-sm-6 .col-md-3 .col-lg-2
              </div>
            </div>
          </div>
        </div>
      </view>
      <view
        path="/sub/dir"
        class="container-lg mx-auto py-6 p-responsive my-auto"
        data-bind="view"
      >
        <div class="box markdown-body">
          <h1>I heard this is a subdir</h1>
        </div>
      </view>
      <view
        path="/404"
        class="container-lg mx-auto py-6 p-responsive my-auto"
        data-bind="view"
      >
        <div class="markdown-body">
          <h1 class="typing">Error 404</h1>
        </div>
      </view>
    </views>

    <div id="footer" class="bg-gray-dark">
      <footer
        class="container-lg mx-auto p-responsive d-flex flex-items-center flex-wrap flex-md-nowrap py-3"
      >
        <p id="copy" class="mb-0">
          &copy;<span data-bind="text: year"></span> by Blubbll
        </p>
      </footer>
    </div>
  </body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.5.1/knockout-latest.min.js"></script>
  <script src="https://cdn.rawgit.com/visionmedia/page.js/master/page.js"></script>
  <script src="custom.js" defer></script>
</html>
