body {
  background-color: #f0f0f0;
  border-top: 5.9px solid #1b1b1b;
}

#logo {
  cursor: pointer;
  text-shadow: 1px 1px 1px #000;
}

#header {
  background: #1061b3
    url(
        https://cdn.glitch.com/d5f13d72-02d8-4651-8842-b8a3ef203339%2Fmain-bar-gradient.png?v=1591772972682
      )repeat-x;
  border-top: 1px solid #3CB2E3;
}

main{
    border-top: 1px solid #032A46;
}

header {
  border: 1px solid rgba(255, 255, 255, 0.05);
  border-top: none;
  border-bottom: none;
}

header nav a {
  color: #a5cae4;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.65);
  transition: filter 99ms ease !important;
}
header nav a:hover {
  text-decoration: none;
  filter: brightness(1.3);
}
header nav a:active {
  text-decoration: none;
  filter: brightness(0.7);
}
header nav a.active {
  font-weight: bold;
  color: #FFF;
  background: #2096e1
    url(
        https://cdn.glitch.com/d5f13d72-02d8-4651-8842-b8a3ef203339%2Fnavigation-tab.png?v=1591773565356
      )repeat-x;
  padding-top: 1px;
  padding-bottom: 2px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.Box {
  background-color: rgb(252, 252, 255);
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
  border: 1px solid #d5d5d5;
  border-radius: 6px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
}

.Box-header {
  background: #F1F1EC
    url(
        https://cdn.glitch.com/d5f13d72-02d8-4651-8842-b8a3ef203339%2Fnavigation-tab.png?v=1591773565356
      )repeat-x;
  font-family: Georgia, "Times New Roman", serif;
}

#footer {
  background: #1B1B1B;
  border-top: 5px solid #6cb2e4;
}

footer {
  border: 1px solid rgba(255, 255, 255, 0.05);
  border-top: none;
  border-bottom: none;
}

footer a,
footer a:visited {
  color: #a5cae4;
  padding: 5px;
  display: block;
}

footer a:active,
footer a:hover {
  color: #d7edfc;
}

#copy {
  color: #646464;
}

/* DARK */
body.darkmode {
  background: #1B1B1B;
  color: rgb(235, 235, 235);
}
.darkmode .Box {
  background-color: rgb(42, 42, 42);
}
.darkmode .Box-header {
  background-color: rgb(22, 22, 22);
  color: #777777;
}
.darkmode #footer {
  background: black !important;
}
.darkmode #copy {
  color: rgb(57, 57, 57);
}

.darkmode header nav a{
      color: rgba(0,0,0,.6);
    text-shadow: 0 1px rgba(255,255,255,.2);
}